---
import ProjectCard from "../components/ProjectCard.astro";
import Base from "../layouts/Base.astro";
---

<Base>
	<div class="px-3">
		<ProjectCard title="Test" description="test description" />
	</div>
</Base>
