---
import { getCollection } from "astro:content";

const blogs = (await getCollection("blog")).slice(0, 2).map((b) => b.data);
---

<section class="py-12" id="blog">
	<h2 class="mb-6 text-2xl font-bold text-black">
		<a class="group text-black" href="/blog">
			<span class="group-hover:underline">Blogs</span>
			<span class="invisible group-hover:visible"> > </span>
		</a>
	</h2>
	<div class="grid gap-6 sm:grid-cols-1 lg:grid-cols-2">
		{
			blogs.map((blog) => (
				<div class="flex flex-col rounded-lg border bg-card text-card-foreground shadow-sm">
					<div class="flex flex-col space-y-1.5 p-6">
						<h3 class="text-2xl font-semibold leading-none tracking-tight">
							{blog.title}
						</h3>
					</div>
					<div class="p-6 pt-0 flex-1">
						<p class="text-gray-500">{blog.description}</p>
					</div>
					<div class="flex items-center p-6 pt-0">
						<a
							href="/article/1"
							class="text-blue-500 hover:text-blue-700"
						>
							Read More
						</a>
					</div>
				</div>
			))
		}
	</div>
</section>
